li {font-family: verdana;
    font-weight: 600;
    color:blue;
}

.newlist{  
        color:red;
        }

/* generated CSS file from the dynamic data on the database. */ 

#center_c select {
  margin-left:2%;
  margin-right:2%;
  margin-bottom:2%;
  background-color:#ffffff;
  height:25px;
  border-top-width:1px;
  border-top-style:solid;
  border-top-color:#cecece;
  border-left-width:1px;
  border-left-style:solid;
  border-left-color:#cecece;
  border-right-width:1px;
  border-right-style:solid;
  border-right-color:#cecece;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#cecece;
}

#bottomLeft a:hover {
  color:#D8E2F4;
}

#container6 {
  margin-left:auto;
  margin-right:auto;
  max-width:1200px;
  padding-top:2%;
  padding-left:2%;
  padding-right:2%;
  padding-bottom:2%;
}

#topLeft .topMenu {
  color:#FFFFFF;
}

.topMenu {
  cursor:hand;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
  height:30px;
  width:720px;
  color:#FFFFFF;
}

#row2ueber {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  padding-top:2%;
  padding-bottom:2%;
  padding-left:2%;
  padding-right:2%;
}

#row6ueber {
  background-color:#f2f3f5;
}

#block_339 {
  margin-left:auto;
  margin-right:auto;
  padding-top:2%;
  padding-left:2%;
  padding-right:2%;
  padding-bottom:2%;
}

#leftContent {
  background-color:#ffffff;
}

#container {
  width:100%;
}

a {
  color:#56aaff;
  text-decoration:underline;
  font-family:Arial, Verdana, sans-serif;
  font-size:14px;
  border-width:0px;
  border-style:none;
  border-radius:0px;
  font-weight:normal;
  font-style:normal;
}

#row6 {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  padding-top:3%;
  padding-bottom:3%;
  padding-left:3%;
  padding-right:3%;
}

#center_r .blockContent {
  padding-top:10px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
}

h2 {
  font-weight:bolder;
  font-size:11ptpx;
  font-family:Roboto, Helvetica, Arial, sans-serif;
  color:#ffffff;
  margin-top:24px;
  margin-bottom:24px;
  border-color:#ffffff;
  border-width:0px;
  border-style:none;
  border-radius:0px;
  display:block;
}

#container4 {
  max-width:700px;
  margin-left:auto;
  margin-right:auto;
  padding-top:2%;
  padding-left:2%;
  padding-right:2%;
  padding-bottom:2%;
  border-top-width:1px;
  border-top-style:solid;
  border-top-color:#e5e5e5;
  border-left-width:1px;
  border-left-style:solid;
  border-left-color:#e5e5e5;
  border-right-width:1px;
  border-right-style:solid;
  border-right-color:#e5e5e5;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#e5e5e5;
}

#container1 {
  background-image:none;
  background-repeat:repeat;
  background-position:top;
  background-attachment:scroll;
  max-width:500px;
  margin-left:auto;
  margin-right:auto;
}

#bottomCont {
  padding-top:0px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  background-color:#ffffff;
}

#bottomCenter a {
  color:#FFFFFF;
}

#center_table {
  width:100%;
  background-color:#ffffff;
}

#bottomLeft a {
  color:#FFFFFF;
}

#row4ueber a {
  color:#ffffff;
  text-decoration:underline;
}

#center_c textarea {
  border-top-width:1px;
  border-top-style:solid;
  border-top-color:#cecece;
  border-left-width:1px;
  border-left-style:solid;
  border-left-color:#cecece;
  border-right-width:1px;
  border-right-style:solid;
  border-right-color:#cecece;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#cecece;
  margin-left:2%;
  margin-right:2%;
  margin-bottom:2%;
}

#center_r {
  width:35%;
  vertical-align:top;
  background-color:#FFFFFF;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
}

#bottom {
  background-color:#FFFFFF;
  font-family:Calibri, Verdana, Arial, Helvetica, sans-serif;
  float:left;
  border-left-style:solid;
  border-right-style:solid;
  border-bottom-style:solid;
  display:none;
}

#row3ueber {
  background-color:#f2f3f5;
}

#--berrow {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}

#row1ueber {
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#2f609b;
}

#bottomLeft a:active {
  color:#D8E2F4;
}

#topCenter {
  height:30px;
  width:100%;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
  background-color:#2F609B;
  vertical-align:top;
}

#menu_table_tablet .navbar {
  margin-bottom:0;
  padding-top:0;
  padding-right:10px;
  padding-bottom:0;
  padding-left:10px;
}

#center_l .blockContent {
  padding-top:10px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
}

h1 {
  font-size:14ptpx;
  font-weight:bolder;
  color:#56aaff;
  font-family:Roboto, Helvetica, Arial, sans-serif;
  margin-top:24px;
  margin-bottom:24px;
  border-color:#56aaff;
  border-width:0px;
  border-style:none;
  border-radius:0px;
  display:block;
}

.buttonLevel1Normal {
  border-right-width:1px;
  border-right-style:solid;
  border-right-color:#FFFFFF;
  height:30px;
  padding-left:20px;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  width:120px;
  background-color:#2F609B;
}

#bottomLeft a:visited {
  color:#FFFFFF;
}

# {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  padding-top:2%;
  padding-bottom:2%;
  padding-left:2%;
  padding-right:2%;
}

#container7 {
  margin-left:auto;
  margin-right:auto;
  background-repeat:no-repeat;
}

#center_l {
  float:left;
  width:18.5%;
  display:none;
}

.buttonLevel2Normal {
  background-color:#0C3D60;
  height:30px;
  width:119px;
  padding-left:20px;
  border-bottom-width:1px;
  border-bottom-style:dotted;
  border-bottom-color:#0c3d60;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
}

#top {
  background-color:#FFFFFF;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:0px;
}

.buttonLevel1Hover {
  border-right-width:1px;
  border-right-style:solid;
  border-right-color:#FFFFFF;
  height:30px;
  padding-left:20px;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  background-color:#0c3d60;
  width:120px;
}

#row8 {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}

#top #block_106 {
  padding-left:5%;
  padding-top:5%;
}

#container5 {
  margin-left:auto;
  margin-right:auto;
  padding-left:2px;
  padding-right:2px;
}

#bottomCenter {
  height:30px;
  width:100%;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
  background-color:#2F609B;
  color:#ffffff;
  vertical-align:top;
}

#bottomLeft {
  background-color:#FFFFFF;
  color:#FFFFFF;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
  vertical-align:top;
}

#topRight {
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
  background-color:#FFFFFF;
  vertical-align:top;
}

#row5 {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  padding-top:3%;
  padding-bottom:3%;
}

#row1 {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}

#row2 {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}

#row3 {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  padding-top:3%;
  padding-bottom:3%;
  padding-left:1%;
  padding-right:1%;
}

#container2 {
  padding-top:2%;
  padding-left:2%;
  padding-right:2%;
  padding-bottom:2%;
}

body {
  font-family:Arial, Verdana, sans-serif;
  font-size:10ptpx;
  color:#ffffff;
  background-color:#333333;
  background-repeat:repeat;
  background-position:top left;
  background-attachment:scroll;
  padding-left:15px;
  padding-top:15px;
  padding-right:15px;
  padding-bottom:15px;
}

legend {
  display:none;
}

#menu_table {
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  background-color:#ffffff;
}

#block_106 {
  padding-top:2% !important;
  padding-left:2% !important;
}

img {
  border:0 none;
  height:auto;
  max-width:100%;
  vertical-align:middle;
}

table {
  border-top-width:0px;
  border-left-width:0px;
  border-right-width:0px;
  border-bottom-width:0px;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  border:collapse;
  font-size:10pt;
}

#blockContent_106 h1 font {
  font-size:32px;
}

fieldset {
  border-top-width:0px;
  border-left-width:0px;
  border-right-width:0px;
  border-bottom-width:0px;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
}

#row7ueber a {
  color:#ffffff;
  text-decoration:underline;
}

#center_c input {
  background-color:#ffffff;
  height:25px;
  border-top-width:1px;
  border-top-style:solid;
  border-top-color:#cecece;
  border-left-width:1px;
  border-left-style:solid;
  border-left-color:#cecece;
  border-right-width:1px;
  border-right-style:solid;
  border-right-color:#cecece;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#cecece;
  margin-left:2%;
  margin-right:2%;
  margin-bottom:2%;
}

#bottomRight {
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
  background-color:#FFFFFF;
  vertical-align:top;
}

#uberer {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  padding-top:2%;
  padding-left:2%;
  padding-right:2%;
  padding-bottom:2%;
}

.buttonLevel2Hover {
  background-color:#2f609b;
  height:30px;
  width:119px;
  padding-left:20px;
  border-bottom-width:1px;
  border-bottom-style:dotted;
  border-bottom-color:#FFFFFF;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
}

#row7 {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}

#center_c {
  padding-bottom:3%;
  padding-top:3%;
  padding-left:2%;
  padding-right:2%;
  margin-left:auto;
  margin-right:auto;
  width:100%;
}

#bottomCenter a:hover {
  color:#D8E2F4;
}

a:hover {
  color:#5f00bf;
  text-decoration:underline;
  font-family:Arial, Verdana, sans-serif;
  font-size:14px;
  border-width:0px;
  border-style:none;
  border-radius:0px;
  font-weight:normal;
  font-style:normal;
}

#menu_table_tablet {
  display:none;
  padding-top:10px;
  padding-right:0px;
  padding-bottom:10px;
  padding-left:0px;
  background-color:#ffffff;
}

#topLeft {
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
  background-color:#FFFFFF;
  vertical-align:top;
}

#row9 {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}

#center_c table {
}

#row4ueber a:active {
}

#row4ueber a:visited {
}

#row7ueber a:hover {
}

#row4ueber {
}

#row7ueber a:active {
}

#row4ueber a:hover {
}

td.odd {
}

#content {
}

#row7ueber {
}

td.even {
}

#row7ueber a:visited {
}

@media (min-width: 980px) and (max-width: 1199px) {
  .row-fluid {
    width:100%;
    *zoom:1;
  }
  .row-fluid [class*="span"] {
    display:block;
    float:left;
    width:100%;
    min-height:30px;
    margin-left:2.564102564102564%;
    *margin-left:2.5109110747408616%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left:0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left:2.564102564102564%;
  }
  .row-fluid .span1 {
    width:5.982905982905983%;
    *width:5.929714493544281%;
  }
  .row-fluid .span2 {
    width:14.52991452991453%;
    *width:14.476723040552828%;
  }
  .row-fluid .span3 {
    width:23.076923076923077%;
    *width:23.023731587561375%;
  }
  .row-fluid .span4 {
    width:31.623931623931625%;
    *width:31.570740134569924%;
  }
  .row-fluid .span5 {
    width:40.17094017094017%;
    *width:40.11774868157847%;
  }
  .row-fluid .span6 {
    width:48.717948717948715%;
    *width:48.664757228587014%;
  }
  .row-fluid .span7 {
    width:57.26495726495726%;
    *width:57.21176577559556%;
  }
  .row-fluid .span8 {
    width:65.81196581196582%;
    *width:65.75877432260411%;
  }
  .row-fluid .span9 {
    width:74.35897435897436%;
    *width:74.30578286961266%;
  }
  .row-fluid .span10 {
    width:82.90598290598291%;
    *width:82.8527914166212%;
  }
  .row-fluid .span11 {
    width:91.45299145299145%;
    *width:91.39979996362975%;
  }
  .row-fluid .span12 {
    width:100%;
    *width:99.94680851063829%;
  }
  .row-fluid:before {
    content:"";
    display:table;
    line-height:0;
  }
  .row-fluid:after {
    content:"";
    display:table;
    line-height:0;
    clear:both;
  }
}

@media (max-width: 767px) {
  #center_r {
    width:100%;
  }
  #menu_table {
    display:none;
  }
  #menu_table_tablet {
    display:block;
  }
  #center_r #rightContent {
    padding-top:10px;
    padding-right:10px;
    padding-bottom:20px;
    padding-left:10px;
  }
  #center_l {
    width:100%;
  }
  body {
    padding-left:0px;
    padding-right:0px;
  }
  #center_c {
    padding-left:2%;
    padding-right:2%;
    text-align:center;
  }
  #Logo {
    text-align:center;
  }
}

@media (max-width: 480px) {
  body {
    text-align:center !important;
  }
  #center_r #rightContent div[style] {
    text-align:center !important;
  }
  #center_r #rightContent h2[style] {
    text-align:center !important;
  }
  #top #block_106 {
    padding-left:2.5% !important;
    padding-top:2.5% !important;
  }
  #blockContent_106 h1 font {
    font-size:18px;
  }
  #center_c {
    padding-left:2%;
    padding-right:2%;
    text-align:center;
  }
  #Logo {
    text-align:center;
  }
}

@media (max-width: 320px) {
  #top #block_106 {
    padding-left:0% !important;
    padding-top:0% !important;
  }
  #top h1 {
    margin-top:0;
    margin-left:0;
    margin-right:0;
    margin-bottom:0;
  }
  #content h1 {
    margin-top:0;
    margin-left:0;
    margin-right:0;
    margin-bottom:0;
  }
}​